{% extends "base.html" %}

{% block conteudo %}
<main >
    <section class="apresentacao">
        <div class="apresentacao__cards">
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/serenatto.jpg" alt="Foto do site Cafeteria Serenatto">
                <figcaption><a href="https://alinelenzi.github.io/projeto_Cafeteria_Serenatto/" target="_blank">VER MAIS</a></figcaption>
            </figure>
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/mala_de_viagem.jpg" alt="Foto do site Mala de viagem">
                <figcaption><a href="https://alinelenzi.github.io/projeto_malaDeViagem/" target="_blank">VER MAIS</a></figcaption>
            </figure>
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/meteora.jpg" alt="Foto do site Loja meteora">
                <figcaption><a href="https://alinelenzi.github.io/projeto_loja_Meteora/" target="_blank">VER MAIS</a></figcaption>
            </figure>
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/imc.jpg" alt="Foto do site Calculadora IMC">
                <figcaption><a href="https://alinelenzi.github.io/projeto_CalculadoraIMC/" target="_blank">VER MAIS</a></figcaption>
            </figure>
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/manhattan.jpg" alt="Foto do site Cafeteria Manhattan">
                <figcaption><a href="https://alinelenzi.github.io/projeto_Cafeteria/" target="_blank">VER MAIS</a></figcaption>
            </figure>
            <figure class="apresentacao__cards__card" >
                <img src="./static//assets/xmen.jpg" alt="Foto do site Projeto Xmen">
                <figcaption><a href="https://alinelenzi.github.io/projeto_Xmen/" target="_blank">VER MAIS</a></figcaption>
            </figure>
        </div>
    </section>
</main>
<footer class="rodape"><p>Desenvolvido por Aline Lenzi.</p></footer>
{% endblock %}
