    {% extends "base.html" %}

    {% block conteudo %}
    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Sobre mim</h1>
            <p class="apresentacao__conteudo__texto">Olá! Atualmente, estou no 4° período do curso de Tecnologia em Análise e Desenvolvimento de Sistemas. Além das matérias da graduação, tenho buscado aprimorar meus conhecimentos por meio de cursos extracurriculares.</p>
            <p class="apresentacao__conteudo__texto">Já realizei cursos de HTML, CSS, Javascript, React, SQL, MySQL entre outros pelas plataformas Alura e DevMedia, de Python através da plataforma Python Full, além de aulas de inglês por meio da Alura Língua. Estou totalmente comprometida com meus estudos e em busca de um estágio para colocar minha habilidades em projetos práticos.</p>
        </section>
        <img class="apresentacao__imagem" src="./static/assets/Imagem.jpg" alt="Foto Aline Lenzi"></img>
    </main>
    <footer class="rodape"><p>Desenvolvido por Aline Lenzi.</p></footer>
    {% endblock %}
